@font-face {
    font-family: 'PlusSans';
    src: url(../fonts/PlusJakartaSans-Bold.ttf);
}
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: rgb(28 37 54);
    display: flex;
    flex-direction: column;
    color: rgb(127 135 146);
}

.scroll {
    overflow: auto;
    padding: 20px;
    visibility: hidden;
    transition: all 300ms;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(157, 164, 174, 0.516);
    height: 35%;
    border-radius: 5px;
}

.scrollinner,
.scroll:hover {
    visibility: visible;
}

.main {
    width: 82%;
    margin-left: 18%;

}

.main h1 {
    font-family: PlusSans;
}

.c-container {
    width: 95%;
    margin: auto;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
}

.c-row1,
.c-c2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.c-c1 {
    display: flex;
    flex-direction: column;
}

.c-c2 {
    padding: 10px 0px;
}

.c-c2 button {
    border: 0;
    display: flex;
    align-items: center;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 1rem;
    font-weight: 600;
    margin-right: 20px;
    border-radius: 5px;
    padding: 7px 12px;
    background-color: white;
    cursor: pointer;
}

.c-c2 button:hover {
    background-color: lightgrey;

}

.c-row1 h2 {
    margin: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
}

.c-c3 button {
    background-color: rgb(99, 102, 241);
    color: white;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.c-box-shadow {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px, rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px;
}

.c-row2 {
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px, rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px;
    padding: 20px 0px;
}
.c-row2>div a {
    text-decoration: none;
    margin-left: 25px;
    padding: 10px 0px;
    color: rgb(108, 115, 127);
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.c-row2>div a:hover {
    text-decoration: underline rgb(99, 102, 241) 2px;
    color: rgb(99, 102, 241);

}

.c-row3 {
    display: grid;
    grid-template-columns: 57% 37%;
    justify-content: space-between;
    align-items: end;
    padding: 20px 20px;
}
.c-c4,.c-c5{
    position: relative;
}

.c-c4 [type="search"]{
    width: 100%;
    padding: 15px 30px;
    border: solid 1px lightgray;
    border-radius: 5px;

}
.c-c4 ::placeholder{
    padding-left: 5px;
    color: rgb(108, 115, 127);
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.c-c4 img {
    position: absolute;
    top: 11px;
    left: 10px;
}

#search:focus,#val:focus {
    outline: 5px solid rgb(99, 102, 241);
    border-radius: 8px;
    border: 0;
}
.c-row3,.c-row4,.c-row5,.c-bottom{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px, rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px;
}
#val:focus~[for="val"]{
    color:blue
}
select#val{
    padding: 15px;
    border: solid 1px lightgray;
    border-radius: 5px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 500;
}
.c-c5 label{
    position: absolute;
    top: 3px;
    left: 9px;
    font-size: small;
    color: rgb(108, 115, 127);
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.c-c5 label:focus{
    text-decoration: underline rgb(99, 102, 241) ;
}
.c-row4,.c-row5{
    display: grid;
    grid-template-columns: 5% 34% 19% 10% 10% 10%;
    justify-content: space-between;
    padding: 15px 16px;
    align-items: center;
}
.c-row4{
    background-color: rgb(248, 249, 250);
    padding: 15Px;
}
.c-row4>div{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgb(47, 55, 70);
}
.c-row5:hover{
    background-color: rgb(248, 249, 250);
}
.c-name{
    display: grid;
    grid-template-columns: 20% 80%;
}
.c-name img{
    border-radius: 50%;
}
.c-iname,.c-row4>div:nth-child(2){
    margin: 0px 0px 0px 8px;
}
.c-iname,.c-loc,.c-ord,.c-spent{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.c-iname a{
    margin: 0px;
    text-decoration: none;
    color: inherit;
}
.c-iname p{
    margin: 0px;
    color: rgb(108, 115, 127);
}
.c-loc p,.c-ord p,.c-spent{
    margin: 0;
    border-bottom: 1px solid rgb(242, 244, 247);
    text-align: left;
    color: rgb(17, 25, 39);
    
}
.c-row5>div,.c-row4>div{
    padding: 15px;
}
.c-act>div{
    text-align: end;
}
.c-spage{
    display: none;
}
.c-bottom{
    display: grid;
    grid-template-columns: auto 15% 15% 15%;
    justify-content: flex-end;
    justify-items: end;
}
.c-row p,.c-num{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(17, 25, 39);
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
select#num{
    border:0;
    margin-left: 4px;
    padding: 21px;

}
select#num:focus{
    outline: none;
}
.c-num{
    padding: 8px;
    margin-top: 8px;
}
.c-arrow{
    margin-top: 15px;
    margin-right: 15px;
}
.


